@import url(App.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.CardSection {
    height: 100%;
    color:var(--bg-primary);
    font-family: var(--main-font);
    background-color: var(--bg-secondary);
    padding-bottom: 30px;
}

.grid-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    justify-items: center;
    align-items: center;
    
    /* padding: 30px; */
}

.mainCard {
   margin-top: 30px;
   background-color: var(--bg-secondary);
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 100%;
    height: 240px; /* Add this line */
    object-fit: cover;
    border-bottom: 5px solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: var(--text-color-primary);
}
.cardButton {
    background-color:var(--bg-primary);
}
.cardTitle {
    color:var(--bg-primary);
}
.text-center {
  
  
    position: relative;
}


.text-center::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 10%; /* Adjust this to change the width of the border */
    background: var(--text-color-primary); /* Adjust this to change the color of the border */
}
.block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}